In [1]:
import pandas as pd
import numpy as np

Import movie ratings from csv file

In [2]:
reviews = pd.read_csv('/Users/stacey/Documents/GitHub/IS362_Assignment7/movies.csv', index_col=0)
reviews

,A Quiet Place,I Feel Pretty,Super Troopers 2,Blockers,Truth or Dare,Rampage
Chris,4.0,1.0,5.0,NaN,4.5,3.0
Ariella,NaN,3.0,4.0,3.0,3.5,NaN
Jenn,4.0,NaN,2.0,NaN,4.0,NaN
Tammy,4.5,4.0,4.5,3.0,2.5,2.0
Juan,4.0,NaN,3.5,4.0,3.0,2.0

First, we need to clean this dataset a litte.  Let's fill in any missing values with 0.0

In [3]:
reviews_cleaned = reviews.fillna(0.0)
reviews_cleaned

,A Quiet Place,I Feel Pretty,Super Troopers 2,Blockers,Truth or Dare,Rampage
Chris,4.0,1.0,5.0,0.0,4.5,3.0
Ariella,0.0,3.0,4.0,3.0,3.5,0.0
Jenn,4.0,0.0,2.0,0.0,4.0,0.0
Tammy,4.5,4.0,4.5,3.0,2.5,2.0
Juan,4.0,0.0,3.5,4.0,3.0,2.0

Show the average ratings for each user and each movie.

In [4]:
friend_ratings = reviews_cleaned.mean(axis=1).round(1)
friend_ratings

Chris      2.9
Ariella    2.2
Jenn       1.7
Tammy      3.4
Juan       2.8
dtype: float64

In [5]:
movie_ratings = reviews_cleaned.mean(axis=0).round(1)
movie_ratings

A Quiet Place       3.3
I Feel Pretty       1.6
Super Troopers 2    3.8
Blockers            2.0
Truth or Dare       3.5
Rampage             1.4
dtype: float64

Normalized Data


Create a new pandas dataframe, with normalized ratings for each user. Again, show the average
ratings for each user and each movie.

In [6]:
normalized_data = (reviews_cleaned - reviews_cleaned.min())/ (reviews_cleaned.max() - reviews_cleaned.min())
normalized_data.round(1)

,A Quiet Place,I Feel Pretty,Super Troopers 2,Blockers,Truth or Dare,Rampage
Chris,0.9,0.2,1.0,0.0,1.0,1.0
Ariella,0.0,0.8,0.7,0.8,0.5,0.0
Jenn,0.9,0.0,0.0,0.0,0.8,0.0
Tammy,1.0,1.0,0.8,0.8,0.0,0.7
Juan,0.9,0.0,0.5,1.0,0.2,0.7

In [7]:
friend_normalized = normalized_data.mean(axis= 1).round(2)
friend_normalized

Chris      0.69
Ariella    0.44
Jenn       0.27
Tammy      0.71
Juan       0.55
dtype: float64

In [8]:
movie_normalized = normalized_data.mean(axis = 0).round(2)
movie_normalized

A Quiet Place       0.73
I Feel Pretty       0.40
Super Troopers 2    0.60
Blockers            0.50
Truth or Dare       0.50
Rampage             0.47
dtype: float64

Provide a text-based conclusion: explain what might be advantages and disadvantages of using
normalized ratings instead of the actual ratings.

Data standardization is a method that plays a crucial role in data mining.  It helps center the data around 0 and to scale it in respect to standard deviation.  This would be useful in order to scale datasets down in order to compare them.  For example, if we were to look at commuter tables and compare the data, we'd want to standardize the data in order to compare those that drive versus those that take the train.  In a simple dataset, such as this movie ratings set, using the actual values without stadardization provides real world results.

[Extra credit] Create another new pandas dataframe, with standardized ratings for each user.
Once again, show the average ratings for each user and each movie.

In [9]:
normalized_data.mean(axis= 1)

Chris      0.689815
Ariella    0.444444
Jenn       0.273148
Tammy      0.708333
Juan       0.550926
dtype: float64

In [10]:
normalized_data.mean(axis= 0)

A Quiet Place       0.733333
I Feel Pretty       0.400000
Super Troopers 2    0.600000
Blockers            0.500000
Truth or Dare       0.500000
Rampage             0.466667
dtype: float64